### Import

In [2]:
import numpy as np
import pandas as pd
from scipy import stats

### Read data

In [4]:
df = pd.read_csv('lovett.csv', delimiter=',')
df.head()

       STREAM  ELEVATN   SO4  SO4MOD    CL
0  Santa_Cruz      680  50.6    50.6  15.5
1     Colgate      628  55.4    55.4  16.4
2      Halsey      625  56.5    56.5  17.1
3  Batavia_Hi      663  57.5    57.5  16.8
4  Windham_Ri      616  58.3    58.3  18.3

### Original sample

In [6]:
SO4_mean = df.SO4.mean()
SO4_std = df.SO4.std()
print('Mean: {}'.format(SO4_mean))
print('Std: {}'.format(SO4_std))

Mean: 61.92307692307692
Std: 5.241557700293499

In [20]:
t_95 = stats.t.ppf(0.975, len(df.SO4)-1)
print('t_95%: {}'.format(t_95))

t_95%: 2.024394164575136

Confidence Interval manual calculation

In [24]:
SO4_sem_a = df.SO4.std()/np.sqrt(len(df.SO4))
conf_int_95_a = (SO4_mean-t_95*SO4_sem_a, SO4_mean+t_95*SO4_sem_a)
print('Standard Error: {}'.format(SO4_sem_a))
print('Confidence Intervall: {}'.format(conf_int_95_a))

Standard Error: 0.8393209576108362
Confidence Intervall: (60.223960474283928, 63.622193371869912)

Confidence Intervall with scipy.stats

In [22]:
SO4_sem = stats.sem(df.SO4)
conf_int_95 = stats.t.interval(alpha=0.95, df=len(df.SO4)-1, loc=SO4_mean, scale=SO4_sem)
print('Standard Error: {}'.format(SO4_sem))
print('Confidence Intervall: {}'.format(conf_int_95))

Standard Error: 0.839320957610836
Confidence Intervall: (60.223960474283928, 63.622193371869912)